
html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}
  
.layerContainer {
  position: relative;
  /*left: 30%; /* Pushes value to right */
  top: 0; /* Pushes value to right */

  /*text-align: center;
  background-color: whitesmoke;*/
  /* border: 2px solid black;   */

  border-top: 4px solid #93DB70;
  width: 100%;
  height: 100%;
}

/* A wrapper for the map */
#maparea{
  position: relative;
  /* float:right; */
  height: 70%;
  width: 49%;
  /* border: 1px solid red; */
}
#map {
  /* display: inline-block; */
  height: 100%;
  width: 100%;
}

#editWidget{
  float: left;
  position: relative;
  height: 70%;
  width: 25%;
}

/* Get elements to be in the same block */
.aligned{
  display:inline-block;
  padding: 2px;
}


/* Overwriting Tab Container*/
.toggle_container{ /* Change the container height*/
  height: 30%;
  border: 1px solid black;
  position: relative;
  top: -0% !important;
}